[metadata]
author = 'Copeland Carter'
author_email = 'smartycope@gmail.com'
license = 'MIT'
url = 'https://github.com/smartycope/EasyRegex'

[build-system]
requires = ["hatchling", 'setuptools', 'wheel']
build-backend = "hatchling.build"

[requires]
python_version = ['3.10', '3.11', '3.6', '3.7', '3.8', 'pypy', 'pypy3']

[tool.hatch.commands]
prerelease = 'hatch build'

[project]
name = 'ezregex'
version = '1.5.0'
description = 'A readable and intuitive way to generate Regular Expressions'
dependencies = ['rich']
readme = "README.md"
requires-python = ">=3.8"
